.catalog{
    padding: 40px 0 50px 0;
    min-height: 800px;
    h2,h4{
        margin-bottom: 0;
    }
    &__wrapper{
        padding-top: 25px;
        display: grid;
        justify-items: center;
        grid-template: minmax(450px,auto) / repeat(3, 1fr);
        grid-auto-rows: minmax(450px);
        row-gap: 20px;
        
    }
    &__tabs{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        list-style-type: none;
        &_item{
            text-align: center;
            padding-top: 12px;
            width: 200px;
            height: 50px;
            border: solid 1px $main_color;
            transform: skewX(-25deg);
            margin-left: 15px;
            background-color: $bacground;
            transition: 1.2s ease all;
            cursor: pointer;
            &:hover{
                background-color: $bghover;
                color: $white;
            }
           
        }
        
    }
    .active{
        background-color: $green;
        box-shadow: 0 4px 25px rgba(113, 237, 65, 1.8);
    }
    
    &__card{
        width: 320px;
        min-height: 450px;
        background: #fff;
        box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
        font-size: 16px;
        font-weight: 300;
        &_subtitle{
            padding-top: 10px;
            background-color: $bacground;
            &-min{
                padding: 20px 0px 0px 5px;
            }
        }
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        &_price{
            padding: 10px 5px  0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-title{
                font-weight: 700;
            }
            &-total{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 70px;
                color: $red;
            }

        }
        &_weight{
            display: block;
            text-align: left;
            padding-left: 5px;
            &-wrapper{
                margin-top: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                list-style-type: none;
            }
            &-title{
                position: relative;
                font-weight: 700;
                span{
                    position: absolute;
                    color: $red;
                }
            }
            &-item{
                border: solid 1px $main_color;
                border-radius: 3px;
                margin-right: 9px;
                padding: 3px;
                font-size: 10px;
                font-weight: 700;
                transition: 0.5s all ease;
                cursor: pointer;
                &:hover{
                    background-color: $bghover;
                    color: $white;
                }
            }
        }
        &_divider{
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, .25);
            margin-top: 20px
        }
        &_btn{
            margin: 10px auto;
        }
    }
   .price{
       display: none;
       &.show{
           display: block;
       }
   }
    
}