extends blockPug/header

block   variables
    -   var pageTitle = 'Сладости для радости'
block   content

    header
        .header#header 
            .header__wrapper
                .logo
                    a(href="#header").logo__link
                        picture 
                            source(srcset="img/logo/logo.webp" type="image/webp")
                            img(src="img/logo/logo.png", alt="logo")
                .header__catalog
                    .header__catalog-btn
                        h6 Каталог
                        .header__catalog-img 
                            img(src="icons/catalog/cart-solid.svg", alt="catalog")
                    ul.header__catalog-item.hide
                        li.header__catalog-link: a(href="#catalog__block") Орехи
                        li.header__catalog-link: a(href="#catalog__block") Сухофрукты
                        li.header__catalog-link: a(href="#catalog__block") Шоколад
                        li.header__catalog-link: a(href="#catalog__block") Подарочные наборы
                        li.header__catalog-link: a(href="#catalog__block") Печенье
                .header__phone 
                     a(href="tel:+380635615620" class="subheader__phone_call"): img(src="icons/contacts/phonehead.svg", alt="phone")
                nav 
                    .menu 
                        ul.menu__item.title
                            li.menu__link: a(href="#header")  Главная
                            li.menu__link: a(href="#catalog__block")  Каталог
                            li.menu__link: a(href="#delivery__block")  Доставка
                            li.menu__link: a(href="#aboutUs__block")  О нас
                            li.menu__link: a(href="#contact__block")  Контакты
                    .hamburger 
                        span 
                        span 
                        span
                .subheader.title 
                    .subheader__phone 
                        a(href="tel:+380635615620" class="subheader__phone_call")   (063)-561-56-20
                    button.subheader__btn.btn(data-btn).subheader__btn_text  Заказать звонок          
    section.promo#up 
            .promo__wrapper
                h1 орехи <span>и</span> сладости 
                h2.promo__title.title.title_fz60   начни день 
                p.promo__descr.title.title_fz48 с полезной сладости, и заметишь, как жизнь стала капельку солнечней и добрее
                
    section.catalog#catalog__block
        h2.catalog__title.title.title_fz60 каталог
        ul.catalog__tabs
            li.catalog__tabs_item.active Орехи 
            li.catalog__tabs_item Сухофрукты 
            li.catalog__tabs_item шоколад
        .container
            .catalog__nuts.catalog__card-item#catalog__nuts
                .catalog__wrapper
                    .catalog__card.title
                        h3.catalog__card_subtitle Миндаль
                        picture
                            source(srcset="img/card/nuts/mindal.webp" type="image/webp")
                            img(src="img/card/nuts/mindal.jpg", alt="mindal")
                        .catalog__card_price.title.title_fz22 
                            .catalog__card_price-title Цена
                            .catalog__card_price-total
                                span.price.show 100
                                span.price 40
                                span.price 50
                                span.price 60
                                span.price 30
                                .catalog__card_price_descr грн. 
                        h4.catalog__card_subtitle-min.title.title_fz12 Миндаль
                        .catalog__card_weight.title
                            .catalog__card_weight-title.title_fz12 Вес
                                span *
                            ul.catalog__card_weight-wrapper
                                li.catalog__card_weight-item(data-item1).active-min  100 г
                                li.catalog__card_weight-item(data-item2) 200 г
                                li.catalog__card_weight-item(data-item3) 300 г
                                li.catalog__card_weight-item(data-item4) 500 г
                                li.catalog__card_weight-item(data-item5) 1000 г
                        .catalog__card_divider
                        button.catalog__card_btn.btn.btn-min(data-btn) купить
                    .catalog__card.title 
                        h3.catalog__card_subtitle Кедр
                        picture 
                            source(srcset="img/card/nuts/kedrovy.webp" type="image/webp")
                            img(src="img/card/nuts/kedrovy.jpg", alt="kedrov")
                        .catalog__card_price.title.title_fz22 
                            .catalog__card_price-title Цена
                            .catalog__card_price-total
                                span.price.show 10
                                span.price 20
                                span.price 30
                                span.price 40
                                span.price 50
                                .catalog__card_price_descr грн. 
                        h4.catalog__card_subtitle-min.title.title_fz12 Кедр
                        .catalog__card_weight.title
                            .catalog__card_weight-title.title_fz12 Вес
                                span *
                            ul.catalog__card_weight-wrapper
                                li.catalog__card_weight-item(data-item1).active-min 100 г
                                li.catalog__card_weight-item(data-item2) 200 г
                                li.catalog__card_weight-item(data-item3) 300 г
                                li.catalog__card_weight-item(data-item4) 500 г
                                li.catalog__card_weight-item(data-item5) 1000 г
                        .catalog__card_divider
                        button.catalog__card_btn.btn.btn-min(data-btn) купить
                    .catalog__card.title
                        h3.catalog__card_subtitle Арахис
                        picture 
                            source(srcset="img/card/nuts/peanut.webp" type="image/webp")
                            img(src="img/card/nuts/peanut.jpg", alt="peanut")
                        .catalog__card_price.title.title_fz22 
                            .catalog__card_price-title Цена
                            .catalog__card_price-total
                                span.price.show 10
                                span.price 20
                                span.price 30
                                span.price 40
                                span.price 50
                                .catalog__card_price_descr грн. 
                        h4.catalog__card_subtitle-min.title.title_fz12 Арахис
                        .catalog__card_weight.title
                            .catalog__card_weight-title.title_fz12 Вес
                                span *
                            ul.catalog__card_weight-wrapper
                                li.catalog__card_weight-item.active-min(data-item1) 100 г
                                li.catalog__card_weight-item 200 г
                                li.catalog__card_weight-item 300 г
                                li.catalog__card_weight-item 500 г
                                li.catalog__card_weight-item 1000 г
                        .catalog__card_divider
                        button.catalog__card_btn.btn.btn-min(data-btn) купить
            .catalog__fruits.catalog__card-item#catalog__fruits
                .catalog__wrapper
                    .catalog__card.title
                        h3.catalog__card_subtitle Фрукт1
                        img(src="img/card/fruits/fr1.jpg", alt="fr1")
                        .catalog__card_price.title.title_fz22 
                            .catalog__card_price-title Цена
                            .catalog__card_price-total
                                span.price 10
                                span.price 20
                                span.price 30
                                span.price 40
                                span.price 50
                                .catalog__card_price_descr грн. 
                        h4.catalog__card_subtitle-min.title.title_fz12 Фрукт1 
                        .catalog__card_weight.title
                            .catalog__card_weight-title.title_fz12 Вес
                                span *
                            ul.catalog__card_weight-wrapper
                                li.catalog__card_weight-item.active-min 100 г
                                li.catalog__card_weight-item 200 г
                                li.catalog__card_weight-item 300 г
                                li.catalog__card_weight-item 500 г
                                li.catalog__card_weight-item 1000 г
                        .catalog__card_divider
                        button.catalog__card_btn.btn.btn-min(data-btn) купить





                    //- .catalog__card.title
                    //-     h3.catalog__card_subtitle Фрукт1
                    //-     img(src="img/card/fruits/fr1.jpg", alt="fr1")
                    //-     .catalog__card_price.title.title_fz22 
                    //-         .catalog__card_price-title Цена
                    //-         .catalog__card_price-total
                    //-             span.price 10
                    //-             span.price 20
                    //-             span.price 30
                    //-             span.price 40
                    //-             span.price 50
                    //-             .catalog__card_price_descr грн. 
                    //-     h4.catalog__card_subtitle-min.title.title_fz12 Фрукт1 
                    //-     .catalog__card_weight.title
                    //-         .catalog__card_weight-title.title_fz12 Вес
                    //-             span *
                    //-         ul.catalog__card_weight-wrapper
                    //-             li.catalog__card_weight-item.active-min 100 г
                    //-             li.catalog__card_weight-item 200 г
                    //-             li.catalog__card_weight-item 300 г
                    //-             li.catalog__card_weight-item 500 г
                    //-             li.catalog__card_weight-item 1000 г
                    //-     .catalog__card_divider
                    //-     button.catalog__card_btn.btn.btn-min(data-btn) купить
                    //- .catalog__card.title
                    //-     h3.catalog__card_subtitle Фрукт2
                    //-     img(src="img/card/fruits/fr2.jpg", alt="fr2")
                    //-     .catalog__card_price.title.title_fz22 
                    //-         .catalog__card_price-title Цена
                    //-         .catalog__card_price-total
                    //-             span.price 10
                    //-             span.price 20
                    //-             span.price 30
                    //-             span.price 40
                    //-             span.price 50
                    //-             .catalog__card_price_descr грн. 
                    //-     h4.catalog__card_subtitle-min.title.title_fz12 Фрукт2
                    //-     .catalog__card_weight.title
                    //-         .catalog__card_weight-title.title_fz12 Вес
                    //-             span *
                    //-         ul.catalog__card_weight-wrapper
                    //-             li.catalog__card_weight-item.active-min 100 г
                    //-             li.catalog__card_weight-item 200 г
                    //-             li.catalog__card_weight-item 300 г
                    //-             li.catalog__card_weight-item 500 г
                    //-             li.catalog__card_weight-item 1000 г
                    //-     .catalog__card_divider
                    //-     button.catalog__card_btn.btn.btn-min(data-btn) купить
                    //- .catalog__card.title
                    //-     h3.catalog__card_subtitle Фрукт3
                    //-     img(src="img/card/fruits/fr3.jpg", alt="fr3")
                    //-     .catalog__card_price.title.title_fz22 
                    //-         .catalog__card_price-title Цена
                    //-         .catalog__card_price-total
                    //-             span.price 10
                    //-             span.price 20
                    //-             span.price 30
                    //-             span.price 40
                    //-             span.price 50
                    //-             .catalog__card_price_descr грн. 
                    //-     h4.catalog__card_subtitle-min.title.title_fz12 Фрукт3
                    //-     .catalog__card_weight.title
                    //-         .catalog__card_weight-title.title_fz12 Вес
                    //-             span *
                    //-         ul.catalog__card_weight-wrapper
                    //-             li.catalog__card_weight-item.active-min 100 г
                    //-             li.catalog__card_weight-item 200 г
                    //-             li.catalog__card_weight-item 300 г
                    //-             li.catalog__card_weight-item 500 г
                    //-             li.catalog__card_weight-item 1000 г
                    //-     .catalog__card_divider
                    //-     button.catalog__card_btn.btn.btn-min(data-btn) купить
                    //- .catalog__card.title
                    //-     h3.catalog__card_subtitle Фрукт3
                    //-     img(src="img/card/fruits/fr3.jpg", alt="fr3")
                    //-     .catalog__card_price.title.title_fz22 
                    //-         .catalog__card_price-title Цена
                    //-         .catalog__card_price-total
                    //-             span.price 10
                    //-             span.price 20
                    //-             span.price 30
                    //-             span.price 40
                    //-             span.price 50
                    //-             .catalog__card_price_descr грн. 
                    //-     h4.catalog__card_subtitle-min.title.title_fz12 Фрукт3
                    //-     .catalog__card_weight.title
                    //-         .catalog__card_weight-title.title_fz12 Вес
                    //-             span *
                    //-         ul.catalog__card_weight-wrapper
                    //-             li.catalog__card_weight-item.active-min 100 г
                    //-             li.catalog__card_weight-item 200 г
                    //-             li.catalog__card_weight-item 300 г
                    //-             li.catalog__card_weight-item 500 г
                    //-             li.catalog__card_weight-item 1000 г
                    //-     .catalog__card_divider
                    //-     button.catalog__card_btn.btn.btn-min(data-btn) купить
            .catalog__chocolate.catalog__card-item#catalog__chocolate
                .catalog__wrapper
                    //- .catalog__card.title
                    //-     h3.catalog__card_subtitle Шоколад
                    //-     img(src="img/card/shocolad/shoc1.jpg", alt="shocolad")
                    //-     .catalog__card_price.title.title_fz22 
                    //-         .catalog__card_price-title Цена
                    //-         .catalog__card_price-total
                    //-             span.price 10
                    //-             span.price 20
                    //-             span.price 30
                    //-             span.price 40
                    //-             span.price 500
                    //-             .catalog__card_price_descr грн. 
                    //-     h4.catalog__card_subtitle-min.title.title_fz12 Шоколад 
                    //-     .catalog__card_weight.title
                    //-         .catalog__card_weight-title.title_fz12 Вес
                    //-             span *
                    //-         ul.catalog__card_weight-wrapper
                    //-             li.catalog__card_weight-item.active-min 100 г
                    //-             li.catalog__card_weight-item 200 г
                    //-             li.catalog__card_weight-item 300 г
                    //-             li.catalog__card_weight-item 500 г
                    //-             li.catalog__card_weight-item 1000 г
                    //-     .catalog__card_divider
                    //-     button.catalog__card_btn.btn.btn-min(data-btn) купить
            .catalog__presets.catalog__card-item#catalog__presets
                .catalog__wrapper
            .catalog__biscuit.catalog__card-item#catalog__biscuit
                .catalog__wrapper
    section.aboutUs#aboutUs__block 
        .container
            h2.aboutUs__title.title.title_fz48 ПОЛЕЗНЫЕ СЛАДОСТИ <span>ИЛИ</span> НЕМНОГО О СУХОФРУКТАХ
            p.aboutUs__descr.info.title.title_fz16: i Кто из нас не любит сладкий вкус изюма и кураги, манящий аромат мясистого чернослива и нежную свежесть вяленой клюкви? Как много существует различных сухофруктов, и лучшего десерта просто не найти! 
            .aboutUs__wrapper
                .aboutUs__wrapper-descr.title 
                    p <span>Популярные сегодня</span> <span class="black"> сухофрукты </span> представляют собой высушенные фрукты и ягоды, остаток влажности которых составляет около 20%. Получают сухофрукты при помощи сушки плодов различных фруктов и ягод на открытом воздухе (на солнце или в тени).  
                    p <span>Представляя</span> собой удобную замену свежим фруктам и ягодам, сухофрукты хранятся продолжительное время и являются отличной добавкой к ежедневному рациону питания.
                    p <span>Сухофрукты</span> делаются практически из всех видов фруктов и ягод. <span class="black">Смесь сухофруктов</span> - это прекрасный вариант "перекуса" на работе и в школе. Полезные свойства сухофруктов очевидны, а нестрогие правила хранения делают их удобным и универсальным продуктом питания. 
                .aboutUs__slider
                    .aboutUs__slider_btn 
                        .aboutUs__slider_btn-prev &lsaquo;
                        .aboutUs__slider_btn-next &rsaquo;          
                    .aboutUs__slider_wrapper
                        .aboutUs__slider_inner
                            .aboutUs__slider_inner-slide
                                picture 
                                    source(srcset="img/slide/assorti3.webp"  type="image/webp")
                                    img(src="img/slide/assorti3.jpg", alt="assorti3")
                            .aboutUs__slider_inner-slide
                                picture 
                                    source(srcset="img/slide/chocolad.webp"  type="image/webp")
                                    img(src="img/slide/chocolad.jpg", alt="chocolad") 
                            .aboutUs__slider_inner-slide
                                picture 
                                    source(srcset="img/slide/fruct.webp"  type="image/webp")
                                    img(src="img/slide/fruct.jpg", alt="fruct")
    section.delivery#delivery__block 
        .container 
            h2.delivery__title.title.title_fz48 Доставка 
            .delivery__icons
                picture
                    source(srcset="icons/delivery/dostavka.webp" type="image/webp") 
                    img(src="icons/delivery/dostavka.png", alt="delivery")
            h3.delivery__descr.title.title_fz24 Доставим сухофрукты и орехы быстро и качественно
            .divider 
            p.delivery__descr-text.info.title.title_fz16 Нам очень Важно, чтобы нашим Клиентам было максимально удобно совершать покупку у нас в нашем магазине "Орехи и Сладости". Мы предлагаем Вам приятные цены и качественную доставку. Все, что нужно сделать, это: 
            ol.delivery__info
                li.delivery__info-text Сделать заказ на сайте www.......m, позвонить по номеру 8 (063) 561-56-20, написать на почту serpentel83@gmail.com или связаться с нами через любой мессенджер: WatsApp и Viber, которые привязаны к номеру телефона 8 (063) 561-56-20.
                li.delivery__info-text В назначенное время встретиться с нашим представителем в удобном для вас месте. Оплатить заказ наличными или по карте курьеру.  

    section.modal 
        .modal__dialog
            .modal__catalog 
                form(action="#")
                    .modal__close(data-close)   &times;
                    h5.modal__title  Мы свяжемся с вами как можно быстрее!
                    input(required placeholder="Ваше имя" name="name" type="text" class="modal__input")
                    input(required placeholder="Ваш номер телефона" name="phone" type="tel" class="modal__input")
                    button.btn.btn__modal(data-btn) Перезвонить мне
    section.footer 
        .footer__wrapper 
            .footer__social 
                .fc
                    .footer__social-fb: a(href="#"): img(src="icons/social/facebook-brands.svg", alt="fk")
                .fc
                    .footer__social-tg: a(href="#"): img(src="icons/social/telegram-brands.svg", alt="tg")
                .fc
                    .footer__social-inst: a(href="#"): img(src="icons/social/instagram-brands.svg", alt="inst")
            .footer__logo 
                a(href="#header"): img(src="img/logo/logo.png", alt="logo")  
            .footer__contact#contact__block 
                h4.footer__contact-tel
                    a(href="tel:+380635615620") +38(063)561-56-20
                        img(src="icons/contacts/phone.svg", alt="vib")
                .footer__contact-email
                    a(href="mailto:serpentel83@gmail.com") serpentel83@gmail.com
                    img(src="icons/contacts/mail4.svg", alt="@")
    section.up 
        a(href="#up" class="pageUp"): img(src="icons/up/up.svg", alt="up") 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="js/main.js") 
                

                     



